*{
    box-sizing: border-box;
     padding: 0px;
    margin: 0;
}

.formPage{
    display: flex;
}

.sideImage{
    background-image: url(./images/backgroundForm.jpg);
    width: 50vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

#odin-logo{
    width: 30%;
    height: 30%;
}
.odinista{
    width: 15%;
    height: 5%;
    background-color: white;
    border-radius: 20px;
}
.odinista:hover{
    background-color: transparent;
    color: goldenrod;
}
.odinista a{
    text-decoration: none;
    color: rgb(255, 0, 221);
}
.odinista a:hover{
    color: goldenrod;
}   